[submodule "vendors/larksuite-cli"]
	path = vendors/larksuite-cli
	url = https://github.com/larksuite/cli.git
	shallow = true


[submodule "vendors/beads"]
	path = vendors/beads
	url = https://github.com/gastownhall/beads.git
	shallow = true

